<div class="dashboard">
  <div class="container">
    <h3>About Us</h3>
    <h4>Welcome to the Jungle!</h4>
    <p>
      At Jungle, we want to provide access to plants to people all over the world! Given the state of global affairs, it's likely there wo't be any plants left in a few decades.
      Our mission is to make sure people can see and raise plants of their own before all arable land becomes a desolate waste.
    </p>
    <h4>Jungle and YOU!</h4>
    <p>
      We're here to help you crate the verdant living space you've dreamed of but will likely not experience again in the future.
      Half the proceeds from our plant sales go to helping replant trees across the globe. The other half goes towards space initiatives
      to get us off this boiling rock before the next mass extinction event.
      Prepare for the end of days with a nice ficus in your living room!
    </p>
    <h4>Thanks for shopping with us!</h4>
</div>